<h1 class="title">
    <%= @task.title %>
</h1>
<div class="description">
    <%= @task.description%>
</div>
<br>
<div class="status">
    <b><%= @task.status%></b>
</div>
<br>
<div class="FooterButtons">
    <%= link_to "EDIT", edit_task_path(@task)%>
</div>
