<h1 class="title">
    <%= @group.group_type %>
</h1>

<div class="FooterButtons">
    <%= link_to "EDIT", edit_group_path(@group)%>
    <br>
    <%= link_to "ALL TASKS", groups_path %>
</div>