/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #414042; 
    font-family: sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    color: #ffff; 
    text-align: center;
}
#application_footer_links a{
    color: rgb(76, 145, 190)
}
a {
    color: lightblue;
}
.adina_logo {
    width: 180px;
    height: 45.23px;
}
#new_button {
    transition-duration: 0.4s;
    background-color: #414042;
    padding: 8px 16px;
    margin-bottom: 10px;
}
#new_button a{
    color: rgb(76, 145, 190);
    font-size: 16px;
}
  
#new_button:hover {
    background-color: lightblue; /* Green */
    color: white;
}